div {
  width: 40%;
  float: left;
  border: 2px solid #000000;
  padding: 25px;
  margin: 20px;
}

#stanga {
  background-color: salmon;
}

#dreapta {
  background-color: chocolate;
}
.p1 {
  color: red;
}
.p2 {
  color: green;
}
#bottom{
    width: 100%;

}
#bottom > p{
    color: red;

}
#bottom articlep{
    color: blue;
}